/* --- STYLES FOR ALL PAGES --- */
body {
    /* Typography */
  background-image: url("../images/cube-background.jpg");
  
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
/* create styles for use for all main boxes */
.square {
  background-color: beige;
  margin: 100px 150px 250px;
  padding:60px;


}

/* text-aline center */
.square h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  text-align: center;
  color: #4aaaa5;

}
.square h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;

}

#sky-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 200px;
  margin: 0 20px 10px 0;
}

#logo {
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 24px;
  font-weight: bold;
  color: #4aaaa5;

}

.card {
  padding: 10px;
}

/* media query for nav background color change */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
  }
}